<body>
  <div class="product-container">
    <h5>Product List</h5>
    <div class="row align-items-end">
      <div class="col-8" style="display: flex; flex-direction: row; align-items: baseline; gap: 20px">
        <div class="form-group">
          <input type="file" class="form-control" (change)="onFileSelected($event)" />
        </div>
        <button class="btn-upload" (click)="onUpload()">Upload</button>
      </div>
      <button class="col-4 btn-add-list" (click)="addProduct()">Add product</button>
    </div>
  </div>

  <div class="product-list-container">
    <ag-grid-angular
      class="ag-theme-alpine"
      style="width: 100%; height: 500px;"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      (cellClicked)="onCellClicked($event)"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector">
    </ag-grid-angular>
  </div>
</body>
