mat-card {
  height: 400px;
}

.content {
  min-height: 200px;
  padding-bottom: 5px;
}

.form-control {
  width: 340px;
  padding: 5px;
  box-sizing: border-box;
}

label {
  margin-bottom: 5px;
  font-size: 16px;
}

h5 {
  text-align: center;
}

.option {
  font-size: 16px;
}

.btn {
  margin-top: 20px;
}
